// App Config
@import "config";  // Editing the config file sets the theme for the project

// Import core Sass libraries
// ---------------------------------------------------------
@import "lib/bourbon/bourbon";

// Standard CSS reset stuff here
// ---------------------------------------------------------
@import "reset";

// Base
@import "typography";
@import "buttons";

@font-face {
  font-family: 'Josefin-Sans';
  src: url('/fonts/Josefin-Sans');
}

@font-face {
  font-family: 
}

body {
  background-color: #C0C0C0;
}
