// App Config
@import "config";  // Editing the config file sets the theme for the project

// Import core Sass libraries
// ---------------------------------------------------------
@import "lib/bourbon/bourbon";

// Standard CSS reset stuff here
// ---------------------------------------------------------
@import "reset";

// Base
@import "typography";
@import "buttons";

@font-face {
  font-family: 'Josefin-Sans';
  src: url('/fonts/Josefin-Sans');
}

body {
  background-color: #D1D0CE;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
}

.wrapper {
  margin: 30px auto 0;
  max-width: 90%;
}

.header {
  position: relative;
  color: #000000;
}
.header h4 {
  color: #E42217;
}

ul,ol > li {
  margin: 8px 0;
}
#harry {
  float: right;
  width: 100px;
}
#will{
  float: right;
  width: 100px;
}



