// App Config
@import "config";  // Editing the config file sets the theme for the project

// Import core Sass libraries
// ---------------------------------------------------------
@import "lib/bourbon/bourbon";

// Standard CSS reset stuff here
// ---------------------------------------------------------
@import "reset";

// Base
@import "typography";
@import "buttons";

@font-face {
  font-family: 'Josefin-Sans';
  src: url('/fonts/Josefin-Sans');
}

body {
  background-color: #F7F7F7;
  font-size: 18px;
  font-family: Verdana, Geneva, sans-serif;
}

h1 {
  font-size: 48px;
  margin: 12px 0 40px;
}

.wrapper {
  margin: 30px auto 0;
  max-width: 90%;
}

ul,ol > li {
  margin: 8px 0;
}
