li {
  list-style-type: none; }

ul {
  padding-left: 0; }

#sources {
  text-align: center; }

.source-button {
  margin: 0 6px;
  font-size: 20px;
  padding: 10px;
  background-color: #fefefe;
  font-family: inherit; }

.article {
  margin-bottom: 10px; }
