<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circle Canvas</title>
    <link rel="stylesheet" href="/stylesheets/pages/circle_canvas.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="js/pages/circle_canvas.js"></script>
  </head>
  <body>
      <canvas id="circles"></canvas>
  </body>
</html>
