<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Circle Canvas</title>
    <link rel="stylesheet" href="/stylesheets/pages/circle_canvas.css">
    <script src="js/pages/circle_canvas.js"></script>
  </head>
  <body>
    <div class="wrapper">
          <h1>Circle Canvas<h1>
          <canvas id="circles" width="800" height="600"></canvas>
    </div>
  </body>
</html>
