<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/pages/dot_game.css">
    <script src="js/pages/dot_game.js"></script>
  </head>
  <body>
      <div id="game-container"></div>
  </body>
</html>
