<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry and Willy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Harry and Willy's Websites</h1>
    <ol>
      <li><a target="_blank" href="/sample_page">Here's our first page</a></li>
    </ol>
  </body>
</html>
