<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry and Willy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="wrapper">
      <h1>Harry and Willy's Websites</h1>
      <ol>
        <li>Day 1:<a target="_blank" href="/"></a></li>
        <li>Day 2:<a target="_blank" href="/"></a></li>
        <li>Day 3<a target="_blank" href="/"></a></li>
        <li>Day 4: <a target="_blank" href="/crazy-typer">Crazy Typer</a></li>
        <li>Sample page: <a target="_blank" href="/sample_page">Here's a sample page</a></li>
      </ol>
    </div>
  </body>
</html>
