<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Harry and Willy</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  </head>
  <body>
    <div class="wrapper">
      <div class="container-fluid">
        <div class="header">
            <h2>Hey there!</h2>
            <h4>We're HarryandWilly and we're making 30 in 30</h4>
            <h6>Websites in days that is</h6>
            <hr>
        </div>
      <ol>
        <li>Day 1: <a href="/">This Page</a></li>
        <li>Day 2: <a href="/just-baseball-gifs" target="_blank">Just Baseball Gifs</a></li>        <!-- <li>Day 2:<a target="_blank" href="/which-day">Which Day?</a></li>
        <li>Day 3<a target="_blank" href="/"></a></li>
        <li>Day 4: <a target="_blank" href="/crazy-typer">Crazy Typer</a></li>
        <li>Day 5: <a target="_blank" href="/"></a></li>
        <li>Day 6: <a target="_blank" href="/"></a></li>
        <li>Day 7: <a target="_blank" href="/synonym-autocorrect">Synonym Autocorrect</a></li>
        <li>Sample page: <a target="_blank" href="/sample_page">Here's a sample page</a></li> -->
      </ol>
      </div>
    </div>
  </body>
</html>
