<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just Baseball Gifs</title>
    <link rel="stylesheet" href="/stylesheets/pages/just_baseball_gifs.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/pages/just_baseball_gifs.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="container-fluid">
      <h1>Just Baseball Gifs</h1>
      <div class="gif-container">
      <br>
      <div class="button">
      <button type="button" class="btn btn default btn-lg">START!</button>
      <button type="button" class="btn btn-default">Next</button>

      


      </div>
      </div>
    </div>
  </body>
</html>
