<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just Baseball Gifs</title>
    <link rel="stylesheet" href="/stylesheets/pages/just_baseball_gifs.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/pages/just_baseball_gifs.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Just Baseball Gifs</h1>
      <div class="gif-container"></div>
    </div>
  </body>
</html>
