<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Just Headlines</title>
    <link rel="stylesheet" href="/stylesheets/pages/just_headlines.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="js/pages/just_headlines.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Just Headlines</h1>
      <ul class="article-holder">
        <li id="template-article" class="article"></li>
      </ul>
    </div>
  </body>
</html>
