<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/pages/simple_game.css">
    <script src="js/pages/simple_game.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <h1>Simple Game</h1>
      <br>
      <p>This is a modification of <a href="http://www.lostdecadegames.com/how-to-make-a-simple-html5-canvas-game/">this tutorial</a>.</p>
      <br>
      <div id="game-container"></div>
    </div>
  </body>
</html>
