<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Something Freaky</title>
  <link rel="stylesheet" href="/stylesheets/pages/something_freaky.css">

</head>
<body>

  <script src="js/pages/something_freaky.js" charset="utf-8"></script>
</body>
</html>
