<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Speed Numbers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/pages/speed_numbers.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="js/pages/speed_numbers.js"></script>
  </head>
  <body>
  <div class="score">
        <p class="score">Score: <span class="score-number">0</span></p></div>
        <div id="number">0</div>
        <div class="numbers">
            <p id="five">+5!</p><p id="ten">-10!</p>    
        </div> 
  </body>
</html>
