<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Clock</title>
    <link rel="stylesheet" href="/stylesheets/pages/the_clock.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="js/pages/the_clock.js"></script>
  </head>
  <body>
      <canvas id="the-clock"></canvas>
  </body>
</html>
