<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/pages/which_day.css">
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="js/pages/which_day.js"></script>
  </head>
  <body>
      <div class="wrapper">
        <h1>Which Day?</h1>
        <form class="date-picker" action="">
          <label for="datepicker">Please enter a date:</label>
          <input type="date" name="datepicker" id="datepicker_entry">
          <input type="submit" id="datepicker_submit">
        </form>
        <p class="answer"></p>
      </div>
  </body>
</html>
