<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/pages/word_guess.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" charset="utf-8"></script>
    <script src="js/pages/word_guess.js"></script>
  </head>
  <body>
    <div class="wrapper">
    <h1>Word Guess</h1>
    <div class="score">
      <p class="score">Score: <span class="score-number">0</span></p></div>
      
      <div class="word"></div>
    </div>
  </body>
</html>
