body {
    background-color: red;
}

i {
    font-style: italic;
}

p {
    text-align: center;
    padding: 20px;
}

h1 {
    text-align: center;
}

h4 {
    text-align: center;
    padding: 20px;
}
