body {
	background-color: red;
}

i {
	font-style: italic;
}

p {
	text-align: center;
	padding: 20px;
}

h1 {
	text-align: center;
}

h4 {
	font-family: /fonts/League-Gothic/LeagueGothic-Regular.otf
	text-align: center;
	padding: 20px;
}
