@import "../style";

.gif-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

h1 {
	text-align: center;
}
.btn

.btn btn-default {
	display: none;
}

