@import "../style";

body {
  font-size: 50px;
}

.word {
  margin-top: 50px;
  font-size: 50px;
  text-align: center;
}

.word-letter {
  border-bottom: 3px solid #666;
  padding-bottom: 8px;
  display: inline-block;
  width: 40px;
  margin: 0 8px;
  color: transparent;

  &.found {
    color:#000;
  }

  &.victory {
    color: rgb(138, 255, 23);
  }


}

.guessed-wrong {
  margin-top: 40px;
  text-decoration: line-through;
  margin-right: 10px;
  color: rgb(241, 5, 5);
}
